*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #fff;
}
.linkColor{
    color:#333333;
    font-size: 20px;
    margin-left: 20px;
}
.footer{
    background-color:  #FFFFFF;
    padding: 5px;
}
.text{
    color: #333333;
    text-align: center;
    margin-top: 15px;
}
@media screen and (max-width:300px){
    .footer{
    padding: 5px;
    width: 250px;
}
.text{
    text-align: start;
}
.footer p{
    font-size: 10px;
}
}
